<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= javascript_include_tag :defaults %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <p class="round">
        Our service is expected to be unavailable for around 15 minutes between the start time and end times listed above.<br/>
        Start:	2011-12-15 02:00 UTC (03:00 Warsaw)<br/>
        End:	2011-12-15 03:00 UTC (04:00 Warsaw)<br/>
        We are very sorry for any inconvenience.
      </p>
      <section class="round">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, :class => "flash #{key}") %>
        <% end %>
        <%= yield %>
      </section>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>